
<%= form_for(@payslip, url: payslips_path) do |form| %>
  <table>
  <tr>
      <div>
        <td><%= form.label :date, "Date: " %></td>
        <td><%= form.date_field :date, discard_day: true %></td> 
      </div>
    </tr> 
    
    <tr>
      <div>
        <td><%= form.label :employee_id, 'Employee name: '%></td>
        <td> <%= form.collection_select :employee_id, Employee.all, :id, :first_name, prompt: true %></td>
      </div>
    </tr> 
   
    
  </table></br>

  <div class="col-3", style="margin: 0 auto;">
    <%= form.submit class: "btn btn-warning"%>
  </div>
<% end %>