<div class="col-6" style="margin : 0 auto;">
  <h1>Updating Employee's leave status Updates</h1></br>
  <%= binding.pry %>
  <%# <%= render "form", employee: @employee %> 
  <%= binding.pry%>
<%= form_for(@leave, url: leafe_path) do |form| %>
  <table>
   <tr>
      <div>
        <td><%= form.radio_button :status, "Approved" %>
          <%= form.label :Approved, "Approved" %></td>
        <td><%= form.radio_button :status, "Cancelled" %>
          <%= form.label :Cancelled, "Cancelled" %></td>
      </div>
    </tr>
      <tr>
      <div>
        <td><%= form.radio_button :leave_type, "Paid" %>
          <%= form.label :Paid, "Paid" %></td>
        <td><%= form.radio_button :leave_type, "Unpaid" %>
          <%= form.label :Unpaid, "Unpaid" %></td>
      </div>
    </tr>
    
  </table></br>

  <div class="col-3", style="margin: 0 auto;">
    <%= form.submit class: "btn btn-warning"%>
  </div>
<% end %>
</div>