<div class="col-8" style="margin : 0 auto; padding: 10px">
  <h1>Employee leaves data</h1></br>
</div>

<table class="table table-striped">

  <thead class="thead-light">

    <tr>      
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>From date</th>
      <th>To date</th>
      <th>Status</th>
    </tr>

  </thead>

  <tbody>

    <% @leaves.each do |leave| %>

      <tr>        
        <td><%= leave.employee_id %></td>
        <td><%=  link_to "#{leave.employee.first_name}", leafe_path(leave) %></td>
        <td><%= leave.from_date%></td> 
        <td><%= leave.to_date%></td>
        <td><%= leave.status%></td>       
      </tr>

    <% end %>

  </tbody>

</table>

<%if current_user.type == 'Employee'%>
  <div class="col-2" style="margin : 0 auto; padding: 10px">
    <%= link_to 'Add new', new_leafe_path, class: "btn btn-success" %>
  </div>
<%end%>
