<div class="col-8" style="margin : 0 auto;">

  <table class="table table-striped">

    <thead style="color: blue">
      <th><%= @leave.employee.first_name %>'s  leave Details</th>
    </thead>

    <tbody>

      <tr>
        <th scope="row">ID</th>
        <td><%= @leave.employee.id %></td>      
      </tr>

      <tr>
        <th scope="row">Employee's  Name</th>
        <td><%= @leave.employee.first_name %></td>
      </tr>

      <tr>
        <th scope="row">From Date</th>
        <td ><%= @leave.from_date %></td>     
      </tr>

      <tr>
        <th scope="row">To date</th>
        <td ><%= @leave.to_date %></td>     
      </tr>

      <tr>
        <th scope="row">Reason</th>
        <td ><%= @leave.reason %></td>     
      </tr>

      <tr>
        <th scope="row">status</th>
        <td ><%= @leave.status %></td>     
      </tr>

      <tr>
        <th scope="row">Leave Type</th>
        <td ><%= @leave.leave_type %></td>     
      </tr>

    </tbody>

  </table>

  </br></br>

  <div class="d-flex justify-content-center">

    <div class="col-2">
      <%= link_to "Edit", edit_leafe_path(@leave), class: "btn btn-warning"%> 
    </div>

    <div class="col-3">
      <%= button_to "Destroy", leafe_path(@leave), class: "btn btn-danger", data: {:confirm => 'Are you sure?'}, method: :delete %>
    </div>

  </div>
   
</div> 