<div class="col-6" style="margin : 0 auto;">
  <h2>Editing Employee Details</h2></br>
  <%= form_for(@employee, url: users_employee_path) do |form| %>
  <table>
    <tr>
      <div>
        <td><%= form.label :first_name, "First Name: " %></td>
        <td><%= form.text_field :first_name %></td>
      </div>
    </tr>
     <tr>
      <div>
        <td><%= form.label :last_name, "Last Name: " %></td>
        <td><%= form.text_field :last_name %></td>
      </div>
    </tr>
       <tr>
      <div>
        <td><%= form.label :email,"Email: " %></td>
        <td><%= form.text_field :email %></td>
      </div>
    </tr>
  
 
    <tr>
      <div>
        <td><%= form.label :gender, 'Gender: '%></td>
        <td><%= form.radio_button :gender, "Female" %>
          <%= form.label :Female, "Female" %>&nbsp&nbsp&nbsp&nbsp
        <%= form.radio_button :gender, "Male" %>
          <%= form.label :Male, "Male" %></td>
      </div>
    </tr>
    <tr>
      <div>
        <td><%= form.label :date_of_joining, "Date of joining: " %></td>
        <td><%= form.date_field :date_of_joining, as: :date, value: form.object.try(:strftime,"%m/%d/%Y")%></td>
      </div>
    </tr>
    <tr>
      <div>
        <td><%= form.label :mobile_number, 'Mobile number: ' %></td>
        <td> <%= form.text_field :mobile_number %></td>
      </div>
    </tr>
     <tr>
      <div>
        <td><%= form.label :address, 'Address: ' %></td>
        <td> <%= form.text_field :address %></td>
      </div>
    </tr>
    <tr>
      <div>
        <td><%= form.label :type,'Role: ' %></td>
        <td><%= form.text_field :type %></td>
      </div>
    </tr>
  </table></br>

  <div class="col-3", style="margin: 0 auto;">
    <%= form.submit class: "btn btn-warning"%>
  </div>
<% end %>
</div>