<div class="col-4" style="margin : 0 auto; padding: 10px">
  <h1>All Employees data</h1></br>
</div>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <td>ID</td>
      <td>First_Name</td>
      <td>date_of_joining</td>
      <td>Email</td>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id%></td>
        <td><%= employee.first_name %></td>
        <td><%= employee.date_of_joining%></td> 
        <td><%= employee.email%></td>
        <td><%= link_to 'show', users_employee_path(employee)%></td>
      </tr>
   <% end %>
  </tbody>
</table>
<div class="col-2" style="margin : 0 auto; padding: 10px">
<%= link_to 'Add new', new_users_employee_path, class: "btn btn-success" %>
</div>